div(id='content',data-role='page', data-add-back-btn='true', data-back-btn-text='Voltar')
  div(data-role='header', data-position='inline')
    h1=title
    a(href='/sensor/criar', data-icon='new', class='ui-btn-right') Criar
  div(data-role='content')
    ul(data-role='listview', id='ulMenu')
      each item in items
        li
          a(href='/sensor/' + item.Nome)= item.Nome

script(type='text/javascript', src='/javascripts/sensores/sensores.js')
