div(id='index',data-role='page', data-add-back-btn='true', data-back-btn-text='Voltar')
  div(data-role='header')
    h1=title
  div(data-role='content')
    ul(data-role='listview', id='ulMenu')

script(type='text/javascript', src='/javascripts/index.js')
