h1 Comodo #{comodo.nome}
h2 Lampada
label Ligar/Desligar
  input(type='checkbox',id='chkLampadaOnOff')
 
script(src='/socket.io/socket.io.js', type='text/javascript')
script(type='text/javascript',src='/javascripts/comodo/comodo.js')
