div(id='DispositivosCriar',data-role='page', data-add-back-btn='true', data-back-btn-text='Voltar')
  div(data-role='header')
    h1=title
  div(data-role='content')
    div(data-role='fieldcontain')
      label(for='txtDispNome') Nome
      input(type='text', id='txtDispNome')
    div(data-role='fieldcontain')
      label(for='txtDispPorta') Porta
      input(type='text', id='txtDispPorta')
    div(data-role='fieldcontain')
      label(for='txtDispDescricao') Descrição
      textarea(type='text', id='txtDispDescricao')
    div(data-role='fieldcontain')
      label(for='txtDispFuncao') Função
      textarea(type='text', id='txtDispFuncao')
    div(data-role='fieldcontain')
      label(for='selectTipo') Tipo
      select(id='selectTipo')
        option(value='Digital') Digital
        option(value='IncDec') Incrementar/Decrementar
        option(value='Leitura') Leitura
        option(value='LeituraAnalogica') Leitura Analógica
  input(type='hidden', id='hdNomeSensor', value=sensor.Nome)
  input(type='button', value='Criar', id='btnCriar')
