div(id='DispositivosCriar',data-role='page', data-add-back-btn='true', data-back-btn-text='Voltar')
  div(data-role='header')
    h1=title
  div(data-role='content')
    div(data-role='fieldcontain')
      label(for='txtDispNome') Nome
      input(type='text', id='txtDispNome')
    div(data-role='fieldcontain')
      label(for='txtDispPorta') Porta
      input(type='text', id='txtDispPorta')
    div(data-role='fieldcontain')
      label(for='txtDispDescricao') Descrição
      textarea(type='text', id='txtDispDescricao')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        legend Tipo
        input(type='radio', checked='checked', value='Digital', id='rdDigital', name='rdDigital')
        label(for='rdDigital') Digital
        input(type='radio', value='IncDec', id='rdIncDec', name='rdIncDec')
        label(for='rdIncDec') Incrementar / Decrementar
        input(type='radio', value='Leitura', id='rdLeitura', name='rdLeitura')
        label(for='rdLeitura') Leitura
  input(type='hidden', id='hdIDSensor', value=sensor.id)
  input(type='button', value='Criar', id='btnCriar')
